In [ ]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("internship.db")
cursor = conn.cursor()

cursor.execute("""
CREATE TABLE IF NOT EXISTS mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
)
""")

cursor.executemany("""
INSERT INTO mentors (mentor_id, mentor_name, track)
VALUES (?, ?, ?)
""", [
    (1, "Dr. Smith", "Data Science"),
    (2, "Ms. Lee", "Web Dev"),
    (3, "Mr. Kumar", "AI")
])

conn.commit()

query = """
SELECT interns.name, interns.track, mentors.mentor_name
FROM interns
INNER JOIN mentors
ON interns.track = mentors.track
"""

df = pd.read_sql_query(query, conn)

print(df)

conn.close()

      name         track mentor_name
0    Alice  Data Science   Dr. Smith
1      Bob       Web Dev     Ms. Lee
2  Charlie  Data Science   Dr. Smith
3    Daisy       Web Dev     Ms. Lee
4    Ethan            AI   Mr. Kumar