In [1]:
import sqlite3

# Create/connect to database
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()

# Create table
cursor.execute("""
CREATE TABLE IF NOT EXISTS interns (
    id INTEGER PRIMARY KEY,
    name TEXT,
    track TEXT,
    stipend INTEGER
)
""")

# Insert sample data
cursor.executemany("""
INSERT INTO interns (id, name, track, stipend)
VALUES (?, ?, ?, ?)
""", [
    (1, "Alice", "Data Science", 15000),
    (2, "Bob", "Web Dev", 12000),
    (3, "Charlie", "Data Science", 16000),
    (4, "Daisy", "Web Dev", 11000),
    (5, "Ethan", "AI", 18000)
])

# Query specific columns
cursor.execute("SELECT name, track FROM interns")
rows = cursor.fetchall()

for row in rows:
    print(row)

conn.commit()
conn.close()

('Alice', 'Data Science')
('Bob', 'Web Dev')
('Charlie', 'Data Science')
('Daisy', 'Web Dev')
('Ethan', 'AI')